{% extends 'AppBundle::base.html.twig' %}

{% import "AppBundle:Macro:style.html.twig" as haphpy %}

{% block title %}{{ parent() }} - {{ 'about.title'|trans }}{% endblock %}

{% block content %}
    <section class="page-section dark-background" id="final-video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>{{ 'about.final_video.premiere'|trans|raw }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    {{ 'about.final_video.specs'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    {{ 'about.final_video.availability'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    {{ 'about.final_video.licence'|trans|raw }}
                    <div id="creative-commons-icons">
                        <svg
                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                            xmlns:cc="http://creativecommons.org/ns#"
                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                            xmlns:svg="http://www.w3.org/2000/svg"
                            xmlns="http://www.w3.org/2000/svg"
                            version="1.1"
                            id="svg2"
                            viewBox="0 0 341.14257 64.134542"
                            height="18.100193mm"
                            width="96.278015mm">
                            <g
                                transform="translate(-116.57227,-494.0471)"
                                id="layer1">
                                <path
                                    id="cc-by" class="cc-icon"
                                    d="m 240.89453,494.18164 c -8.839,0 -16.34167,3.08481 -22.51367,9.25781 -6.285,6.4 -9.42774,13.98119 -9.42774,22.74219 0,8.762 3.14274,16.28431 9.42774,22.57031 6.361,6.286 13.86467,9.42969 22.51367,9.42969 8.799,0 16.43611,-3.18192 22.91211,-9.54492 6.096,-5.98 9.14648,-13.46408 9.14648,-22.45508 0,-8.952 -3.1084,-16.53414 -9.3164,-22.74414 -6.172,-6.172 -13.75419,-9.25586 -22.74219,-9.25586 z m 0.0586,11.31445 c 2.97301,0 4.45704,1.50368 4.45704,4.51368 0,2.971 -1.48603,4.45703 -4.45704,4.45703 -2.971,0 -4.45898,-1.48603 -4.45898,-4.45703 0,-3.008 1.48599,-4.51368 4.45898,-4.51368 z m -6.57226,10.68555 13.14453,0 c 0.533,0 1.00973,0.19961 1.42773,0.59961 0.41701,0.4 0.62891,0.88603 0.62891,1.45703 l 0,13.08399 -3.65625,0 0,15.54296 -9.94531,0 0,-15.54101 -3.6543,0 0,-13.08594 c 0,-0.572 0.19866,-1.05703 0.59766,-1.45703 0.401,-0.399 0.88703,-0.59961 1.45703,-0.59961 z" />
                                <path
                                    id="cc-cc" class="cc-icon"
                                    d="m 148.51367,494.18164 c -8.876,0 -16.36203,3.10645 -22.45703,9.31445 -3.085,3.086 -5.43764,6.58133 -7.05664,10.48633 -1.619,3.905 -2.42773,7.97022 -2.42773,12.19922 0,4.267 0.80039,8.32388 2.40039,12.17188 1.6,3.848 3.933,7.30509 7,10.37109 3.067,3.066 6.53243,5.40934 10.39843,7.02734 3.867,1.621 7.91653,2.42774 12.14453,2.42774 4.22801,0 8.32416,-0.81903 12.28516,-2.45703 3.963,-1.638 7.50591,-4.00094 10.62891,-7.08594 3.008,-2.933 5.28512,-6.31458 6.82812,-10.14258 1.541,-3.827 2.3125,-7.9315 2.3125,-12.3125 0,-4.343 -0.78275,-8.44745 -2.34375,-12.31445 -1.562,-3.866 -3.84942,-7.30546 -6.85742,-10.31446 -6.285,-6.247 -13.90447,-9.37109 -22.85547,-9.37109 z m -8.80078,22.06055 c 3.963,-0.002 6.80063,1.54095 8.51563,4.62695 l -4.28711,2.22852 c -0.458,-0.951 -1.01955,-1.619 -1.68555,-2 -0.667,-0.38 -1.28542,-0.57032 -1.85742,-0.57032 -2.856,0 -4.28711,1.88425 -4.28711,5.65625 0,1.714 0.36294,3.08428 1.08594,4.11329 0.724,1.02899 1.79117,1.54296 3.20117,1.54296 1.867,0 3.18036,-0.91418 3.94336,-2.74218 l 3.9414,2 c -0.838,1.563 -1.99837,2.79054 -3.48437,3.68554 -1.484,0.896 -3.12306,1.34375 -4.91406,1.34375 -2.857,0 -5.16402,-0.8749 -6.91602,-2.6289 -1.752,-1.752 -2.62695,-4.1895 -2.62695,-7.3125 0,-3.048 0.88525,-5.46682 2.65625,-7.25782 1.771,-1.79 4.00884,-2.68554 6.71484,-2.68554 z m 18.51367,0 c 3.962,-0.002 6.78399,1.54095 8.45899,4.62695 l -4.23047,2.22852 c -0.457,-0.951 -1.01955,-1.619 -1.68555,-2 -0.668,-0.38 -1.30706,-0.57032 -1.91406,-0.57032 -2.857,0 -4.28711,1.88425 -4.28711,5.65625 0,1.714 0.36294,3.08428 1.08594,4.11329 0.723,1.02899 1.78917,1.54296 3.20117,1.54296 1.865,0 3.18041,-0.91418 3.94141,-2.74218 l 4,2 c -0.875,1.563 -2.05702,2.79054 -3.54102,3.68554 -1.486,0.896 -3.10542,1.34375 -4.85742,1.34375 -2.896,0 -5.20941,-0.8749 -6.94141,-2.6289 -1.736,-1.752 -2.60156,-4.1895 -2.60156,-7.3125 0,-3.048 0.8852,-5.46682 2.6582,-7.25782 1.77,-1.79 4.00789,-2.68554 6.71289,-2.68554 z" />
                                <path
                                    id="cc-nd" class="cc-icon"
                                    d="m 425.6582,494.18164 c -8.79883,0 -16.30468,3.10547 -22.51562,9.31641 -6.28516,6.39941 -9.42969,13.95995 -9.42969,22.68359 0,8.76074 3.14453,16.28613 9.42969,22.57031 6.36084,6.28711 13.86474,9.42969 22.51367,9.42969 8.83643,0 16.47461,-3.16211 22.91211,-9.48633 6.09668,-6.05664 9.14648,-13.55957 9.14648,-22.51367 0,-8.9541 -3.10742,-16.51367 -9.31445,-22.68555 -6.21094,-6.20898 -13.78956,-9.31445 -22.74219,-9.31445 z m -11.08398,24.45508 23.25586,0 0,5.48633 -23.25586,0 0,-5.48633 z m 0,10.28711 23.25586,0 0,5.48242 -23.25586,0 0,-5.48242 z" />
                                <path
                                    id="cc-nc" class="cc-icon"
                                    d="m 303.2907,515.14855 c -1.29413,3.40882 -1.94242,7.18815 -1.94242,11.00358 0,8.65433 3.15992,16.14595 9.47977,22.47243 6.36742,6.2825 13.89755,9.42254 22.58794,9.42254 8.78556,0 16.35961,-3.18523 22.72948,-9.56178 2.27782,-2.18617 4.30838,-4.73196 5.65316,-7.28449 l -17.41752,-7.74339 c -0.4212,2.0231 -1.43969,3.67263 -3.05848,4.94958 -1.62278,1.27796 -3.5367,2.01409 -5.74677,2.20338 l 0,4.92253 -3.7158,0 0,-4.92253 c -3.54471,-0.0361 -6.78528,-1.31401 -9.71869,-3.83287 l 4.40212,-4.46384 c 2.09501,1.94498 4.47817,2.91747 7.14646,2.91747 1.10453,0 2.04899,-0.24638 2.83136,-0.74414 0.78038,-0.49476 1.17257,-1.31401 1.17257,-2.46077 0,-0.80223 -0.28714,-1.45022 -0.85841,-1.94598 l -3.0865,-1.31701 -3.77282,-1.71763 -5.08846,-2.23242 z m 30.12773,-21.10145 c -8.87706,0 -16.38279,3.14003 -22.5184,9.42132 -1.53482,1.53643 -3.48417,3.85589 -4.83111,5.96615 l 17.56116,7.88416 c 0.53326,-1.67857 1.54275,-3.02363 3.03047,-4.03418 1.48472,-1.01054 3.21955,-1.5734 5.20251,-1.68858 l 0,-4.92254 3.7168,0 0,4.92254 c 2.93542,0.15323 5.60271,1.14475 8.00387,2.97556 l -4.17402,4.29257 c -1.79387,-1.25893 -3.62075,-1.88789 -5.48865,-1.88789 -0.99148,0 -1.87691,0.19129 -2.65729,0.57187 -0.78137,0.38159 -1.17256,1.03058 -1.17256,1.94598 0,0.26741 0.095,0.53382 0.28513,0.80123 l 4.05897,1.83281 2.80135,1.25892 5.14649,2.28851 21.72258,9.69222 c 0.91802,-3.12177 1.24255,-6.37725 1.24255,-9.21562 0,-8.98042 -3.11356,-16.54044 -9.34068,-22.68371 -6.18198,-6.28129 -13.71455,-9.42132 -22.58917,-9.42132 z" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="about-contributions">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% set limit_date = limit_date|date('haphpy.date_format.full'|trans) %}
                    <h2>{{ 'about.contributions.limit'|trans({'%limit_date%': limit_date})|raw }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    {{ 'about.contributions.respect'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h5>{{ 'about.contributions.specs.video_title'|trans }}</h5>
                    {{ 'about.contributions.specs.video'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h5>{{ 'about.contributions.specs.picture_title'|trans }}</h5>
                    {{ 'about.contributions.specs.picture'|trans|raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="page-section dark-background" id="about-misc">
        <div class="container">
            <h2>{{ 'about.helping.title'|trans }}</h2>
            <div class="row">
                <div class="col-sm-12 col-md-64 col-lg-4">
                    <h4>{{ 'about.helping.coding.title'|trans|raw }}</h4>
                    {{ 'about.helping.coding.text'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-64 col-lg-4">
                    <h4>{{ 'about.helping.translating.title'|trans|raw }}</h4>
                    {{ 'about.helping.translating.text'|trans|raw }}
                </div>
                <div class="col-sm-12 col-md-64 col-lg-4">
                    <h4>{{ 'about.helping.communicating.title'|trans|raw }}</h4>
                    {{ 'about.helping.communicating.text'|trans|raw }}
                </div>
            </div>
            <h2>{{ 'about.thanks.title'|trans }}</h2>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li>{{ 'about.thanks.elaostrap'|trans|raw }}</li>
                        <li>{{ 'about.thanks.php_ug'|trans|raw }}</li>
                        <li>{{ 'about.thanks.galaxy'|trans|raw }}</li>
                        <li>{{ 'about.thanks.fanzutti'|trans|raw }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
