<h2>{{ 'index.contributed.title'|trans }}</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="text-center">
            <p>
                {{ 'index.contributed.thanks'|trans({
                        '%authProvider%': user.authProvider,
                        '%username%': user.visibleName
                    })|raw
                }}
            </p>
            <hr />
            {% if contribution.isAccepted %}
            <p>
                {{ 'index.contributed.media_warning'|trans }}
            </p>
            <p>
                {{ 'index.contributed.media_change'|trans }}
            </p>
            <a href="{{ path('haphpy_about') ~ '#about-contributions' }}">
                <span class="fa fa-info-circle"></span> {{ 'index.contributed.media_specs_link'|trans }}
            </a>
            {% else %}
            <p>
                {{ 'index.contributed.media_rejected'|trans }}
            </p>
            <p>
                {{ 'index.contributed.media_rejected_reason'|trans }}
            </p>
            <p>
                {{ 'index.contributed.media_rejected_contact'|trans }}
            </p>
            <p>
                <div class="nowrap">
                    <span class="fa fa-envelope"></span> team@haphpy-birthday.net
                </div>
            </p>
            {% endif %}
            <hr />
            <p>
                <a href="{{ path('haphpy_delete') }}" class="btn btn-primary">
                    {{ 'index.contributed.remove_button'|trans }}
                </a>
            </p>
        </div>
    </div>

    <div class="col-sm-12 col-md-8">
        {{ haphpy.media_container(contribution)}}
        <div class="social-buttons text-center">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="PHP" data-url="{{ url('haphpy_contribution_user', {
                authProvider: contribution.authProviderId,
                identifier:   contribution.identifier
            }) }}" data-text="I participated to the HaPHPy Birthday movie! #20YearsOfPHP" data-via="HaPHPy20">Tweet</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>
            <div class="fb-share-button" data-href="{{ url('haphpy_contribution_user', {
                authProvider: contribution.authProviderId,
                identifier:   contribution.identifier
            }) }}" data-layout="button"></div>
        </div>
    </div>
</div>
