<h2>{{ 'index.contributed.title'|trans }}</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="text-center">
            <p>
                {{ 'index.contributed.thanks'|trans({
                        '%authProvider%': user.authProvider,
                        '%username%': user.visibleName
                    })|raw
                }}
            </p>
            <hr />
            <p>
                {{ 'index.contributed.media_warning'|trans }}
            </p>
            <p>
                {{ 'index.contributed.media_change'|trans }}
            </p>
            <a href="{{ path('haphpy_about') ~ '#about-contributions' }}">
                <span class="fa fa-info-circle"></span>{{ 'index.contributed.media_specs_link'|trans }}
            </a>
            <hr />
            <p>
                <a href="{{ path('haphpy_delete') }}" class="btn btn-primary">
                    {{ 'index.contributed.remove_button'|trans }}
                </a>
            </p>
        </div>
    </div>

    <div class="col-sm-12 col-md-8">
        {{ haphpy.media_container(contribution)}}
    </div>
</div>
