{% extends 'AppBundle::base.html.twig' %}

{% import "AppBundle:Macro:helpers.html.twig" as haphpy %}

{% block title %}{% spaceless %}
    {{ parent() }} - {{ 'public_contribution.title'|trans({'%name%': contribution.visibleName}) }}
{% endspaceless %}{% endblock %}

{% block header %}{% endblock %}

{% block gauge %}{% endblock %}

{% block twitter_card %}{% if contribution.file.genericMimeType == 'image' %}
{% include 'AppBundle::Common/twitter_card.html.twig' with {
    twitter_card_title: 'twitter_card.contribution.title'|trans,
    twitter_card_description: 'twitter_card.contribution.description'|trans,
    twitter_card_image: url('media_serve', {
        authProvider: contribution.authProviderId,
        identifier:   contribution.identifier
    }),
} %}
{% endif %}{% endblock %}

{% block content %}{% spaceless %}
    <section id="contribution-punchline" class="page-section">
        <div class="container">
            <h1 class="punchline">{{ 'public_contribution.punchline'|trans }}</h1>
        </div>
    </section>

    <section id="contribution" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ haphpy.media_container(contribution) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ 'public_contribution.contributor'|trans({
                        '%authProvider%': contribution.authProvider,
                        '%identifier%':   contribution.visibleName
                    })|raw }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 text-right">
                    {% set url = url('haphpy_contribution_user', {
                        authProvider: contribution.authProviderId,
                        identifier:   contribution.identifier
                    }) %}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="PHP" data-url="{{ url }}" data-text="Check out this contribution to the HaPHPy Birthday! #20YearsOfPHP" data-via="HaPHPy20">Tweet</a>
                    <script>
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                    </script>
                    <div class="fb-share-button" data-href="{{ url }}" data-layout="button"></div>
                </div>
            </div>
        </div>
    </section>
{% endspaceless %}{% endblock %}
