<h2>{{ 'index.contributed.title'|trans }}</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="text-center">
            <p>
                {{ 'index.contributed.thanks'|trans({
                        '%authProvider%': user.authProvider,
                        '%username%': user.visibleName
                    })|raw
                }}
            </p>
            <hr />
            <p>
                {{ 'index.contributed.media_warning'|trans }}
            </p>
            <p>
                {{ 'index.contributed.media_change'|trans }}
            </p>
            <a href="{{ path('haphpy_about') ~ '#about-contributions' }}">
                <span class="fa fa-info-circle"></span>{{ 'index.contributed.media_specs_link'|trans }}
            </a>
            <hr />
            <p>
                <a href="{{ path('haphpy_delete') }}" class="btn btn-primary">
                    {{ 'index.contributed.remove_button'|trans }}
                </a>
            </p>
        </div>
    </div>

    <div class="col-sm-12 col-md-8">
        <div class="sixteen-nine">
            {% if contribution.file.genericMimeType == 'image' %}
            <div class="content content-image" style="background-image: url({{ path('media_serve', {
                    auth: user.authProvider,
                    identifier: user.username
                }) }});">
            </div>
            {% endif %}
            {% if contribution.file.genericMimeType == 'video' %}
            <div class="content content-video">
                <video controls class="fitting-media">
                    <source src="{{ path('media_serve', {
                        auth: user.authProvider,
                        identifier: user.username
                    }) }}" type="{{ contribution.file.mimeTypeForHtmlPlayer }}">
                    This video is not supported by browsers.
                </video>
            </div>
            {% endif %}
        </div>
    </div>
</div>
