{% extends 'AppBundle::base.html.twig' %}

{% import "AppBundle:Macro:style.html.twig" as haphpy %}

{% block title %}{{ parent() }} - {{ 'index.title'|trans }}{% endblock %}

{% block content %}
    {% set limit_as_date = limit_date|date('haphpy.date_format.date'|trans) %}
    {% set premiere_as_date = premiere_date|date('haphpy.date_format.date'|trans) %}
    <section class="page-section" id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {% set highlight1 = haphpy.highlight %}
                    {% set highlight2 = haphpy.highlight %}
                    {% set highlight3 = haphpy.highlight %}
                    {{ 'index.introduction'|trans(
                            {
                                '%limit_date%': limit_as_date,
                                '%highlight1%': highlight1,
                                '%highlight2%': highlight2,
                                '%highlight3%': highlight3,
                            }
                        )|raw
                    }}
                </div>
            </div>
        </div>
    </section>
    {% if limit_date|date('U') < 'now'|date('U') %}
        {% set limit_as_full = limit_date|date('haphpy.date_format.date'|trans) %}
        <section class="page-section" id="contribution-over">
            <div class="container">
                <h2>{{ 'index.time_over.title'|trans|raw }}</h2>
                <div class="row">
                    <div class="col-md-12">
                        {{ 'index.time_over.editing'|trans({
                            '%limit_date%': limit_as_full
                        })|raw }}
                    </div>
                </div>
                <h2 class="text-highlight">{{ 'index.time_over.premiere'|trans({
                    '%premiere_date%': premiere_as_date
                })|raw }}</h2>
                <div class="row">
                    <div class="col-md-12">
                        {{ 'index.time_over.release'|trans|raw }}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="page-section" id="contribute">
            <div class="container">
                <h2>{{ 'step.title'|trans }}</h2>
                <div class="row">
                    {% if contribution.fileName %}
                        {% include 'AppBundle:Default:contributed.html.twig' %}
                    {% else %}
                        {% include 'AppBundle:Form:contribution.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="page-section" id="examples">
        <div class="container">
            <h2 id="contribution-examples">{{ 'index.examples.title'|trans }}</h2>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.message'|trans }}</h5>
                    <div class="video-container">
                        <video controls poster="/assets/images/ilovephp.jpg">
                            <source src="/assets/videos/ilovephp.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/ilovephp.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.express_yourself'|trans }}</h5>
                    <div class="video-container">
                        <img src="/assets/images/phpisart.png" class="fitting-media">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.php_acronym'|trans }}</h5>
                    <div class="video-container">
                        <video controls>
                            <source src="/assets/videos/people.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/people.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.tribute'|trans }}</h5>
                    <div class="video-container">
                        <img src="/assets/images/phpbiscuits.jpg" class="fitting-media">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.php_asset'|trans }}</h5>
                    <div class="video-container">
                        <video controls poster="/assets/images/php-saved-my-life.jpg">
                            <source src="/assets/videos/php-saved-my-life.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/php-saved-my-life.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>…</h5>
                    <div class="video-container">
                        {{ 'index.examples.beyond'|trans|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
