{% extends 'AppBundle::base.html.twig' %}

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{% import "AppBundle:Macro:style.html.twig" as haphpy %}

{% block content %}
    <section class="page-section" id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {{ 'index.introduction'|trans|raw }}
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <h2>{{ 'step.title'|trans }}</h2>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                            {{ flashMessage|trans|raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {{ form_start(form) }}
                <div class="col-sm-12 col-md-4 haphpy-step">
                    <h3>
                        {% set color = haphpy.color %}
                        <span class="haphpy-step-number" style="background-color:{{ color }};">1</span>
                        <span style="color:{{ color }};">{{ 'step.authenticate.title'|trans }}</span>
                    </h3>
                    {% if user is not null %}
                        {{ 'step.authenticate.logged_in'|trans({
                            '%authProvider%': user.authProvider,
                            '%username%': user.visibleName
                        })}}
                        <div class="text-center">
                            <a href="{{ path('logout') }}" class="btn btn-ghost btn-default">
                                {{ 'step.authenticate.logout'|trans }}
                            </a>
                        </div>
                    {% else %}
                        <a href="{{ path('github_connect') }}" class="btn btn-ghost btn-success">
                            {{ 'index.authentication.github.button.label'|trans|raw }}
                        </a>
                        <a href="{{ path('twitter_connect') }}" class="btn btn-ghost btn-success">
                            {{ 'index.authentication.twitter.button.label'|trans|raw }}
                        </a>
                        <a href="{{ path('facebook_connect') }}" class="btn btn-ghost btn-success">
                            {{ 'index.authentication.facebook.button.label'|trans|raw }}
                        </a>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 haphpy-step">
                    <h3>
                        {% set color = haphpy.color %}
                        <span class="haphpy-step-number" style="background-color:{{ color }};">2</span>
                        <span style="color:{{ color }};">{{ 'step.file.title'|trans }}</span>
                    </h3>
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file, {disabled: user ? false : true}) }}
                    <p>
                        <a href="{{ path('haphpy_about') }}#contribution-examples">
                            <span class="fa fa-lightbulb-o"></span> {{ 'step.file.contributions_examples'|trans }}
                        </a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 haphpy-step">
                    <h3>
                        {% set color = haphpy.color %}
                        <span class="haphpy-step-number" style="background-color:{{ color }};">3</span>
                        <span style="color:{{ color }};">{{ 'step.submit.title'|trans }}</span>
                    </h3>
                    <div class="form-group">
                        {{ form_label(form.creditWanted, 'form.credit_wanted.choose') }}
                        {{ form_errors(form.creditWanted, {attr: {class: 'error-list'}}) }}
                        {{ form_widget(form.creditWanted, {disabled: user ? false : true}) }}
                    </div>

                    <div class="text-center">
                        <input type="submit" name="submit" value="{{ 'form.submit.label'|trans }}" class="btn btn-primary" {{ user ? '' : ' disabled' }}/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

    <section class="page-section" id="examples">
        <div class="container">
            <h2 id="contribution-examples">{{ 'index.examples.title'|trans }}</h2>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.message'|trans }}</h5>
                    <div class="video-container">
                        <video controls poster="/assets/images/ilovephp.jpg">
                            <source src="/assets/videos/ilovephp.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/ilovephp.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.express_yourself'|trans }}</h5>
                    <div class="video-container">
                        <img src="/assets/images/phpisart.png" class="fitting-image">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.php_acronym'|trans }}</h5>
                    <div class="video-container">
                        <video controls>
                            <source src="/assets/videos/people.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/people.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.tribute'|trans }}</h5>
                    <div class="video-container">
                        <img src="/assets/images/phpbiscuits.jpg" class="fitting-image">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>{{ 'index.examples.php_asset'|trans }}</h5>
                    <div class="video-container">
                        <video controls poster="/assets/images/php-saved-my-life.jpg">
                            <source src="/assets/videos/php-saved-my-life.webm" type='video/webm;codecs="vp8, vorbis"'>
                            <source src="/assets/videos/php-saved-my-life.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h5>…</h5>
                    <div class="video-container">
                        {{ 'index.examples.beyond'|trans|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
