{% extends 'AppBundle::base.html.twig' %}

{% import "AppBundle:Macro:helpers.html.twig" as haphpy %}

{% block title %}{{ parent() }} - {{ 'contributions.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block gauge %}{% endblock %}

{% block twitter_card %}
{% include 'AppBundle::Common/twitter_card.html.twig' with {
    twitter_card_creator: twitter_account,
    twitter_card_title: 'twitter_card.home.title'|trans,
    twitter_card_description: 'twitter_card.home.description'|trans,
    twitter_card_image: asset('assets/images/haphpy-mosaic-960.jpg', absolute = true),
} %}
{% endblock %}

{% block content %}{% spaceless %}
    <section id="youtube">
        <div class="container">
            <div class="sixteen-nine">
                <div class="content">
                    <iframe src="https://www.youtube-nocookie.com/embed/tHlCsZf3nmA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="contributions" class="page-section dark-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>
                        {{ contributions|length }} {{ 'contributions.contributors_list'|trans }}
                    </h2>
                </div>
            </div>

            <div class="row">
                {% for contribution in contributions %}
                    <div class="col-sm-12 col-md-6 col-lg-3 contribution">
                        <a href="{{ url('haphpy_contribution_user', {
                            authProvider: contribution.authProviderId,
                            identifier:   contribution.identifier
                        }) }}">
                            <span class="fa haphpy-icon-{{ contribution.authProvider }}"></span>
                            {{ contribution.visibleName }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="page-section" id="php-user-groups">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>
                        {{ userGroups|length }} {{ 'contributions.php_user_groups'|trans }}
                    </h2>
                </div>
            </div>
            <div class="row">
                {% for group in userGroups|shuffle %}
                    <div class="col-sm-12 col-md-6 col-lg-4 user-group">
                        <div class="user-group-image">
                            <a href="{{ group.website }}">
                                <img src="/assets/images/php-user-group/{{ group.picture }}">
                            </a>
                        </div>
                        <div class="user-group-data">
                            <h4 title="{{ group.full_name }}">
                                <a href="{{ group.website }}">
                                    {{ group.displayed_name }}</h4>
                                </a>
                            <div class="user-group-location">
                                {% if group.country %}
                                    <span>{{ group.country }}</span>{% if group.city %}, {{ group.city }}{% endif %}
                                {% endif %}
                            </div>
                            {% if group.twitter %}
                                <a href="https://twitter.com/{{ group.twitter }}" class="user-group-twitter">
                                    <span class="fa haphpy-icon-twitter"></span> {{ group.twitter }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endspaceless %}{% endblock %}
