{{ form_start(form, {
    action: url('haphpy_index') ~ '#contribute'
}) }}
{{ form_errors(form) }}

{{ form_widget(form._token) }}

<div class="col-sm-12 col-md-4 haphpy-step ">
    <h3>
        {% set color = haphpy.color %}
        <span class="haphpy-step-number" style="background-color:{{ color }};">1</span>
        <span style="color:{{ color }};">{{ 'step.authenticate.title'|trans }}</span>
    </h3>

    <div class="text-center">
        {% if user is not null %}
            {{ 'step.authenticate.logged_in'|trans({
                    '%authProvider%': user.authProvider,
                    '%username%': user.visibleName
                })|raw
            }}
        {% else %}
            <a href="{{ path('github_connect') }}" class="auth-button">
                <span class="fa haphpy-icon-github" style="background-color:#201f1f;"></span>
            </a>
            <a href="{{ path('twitter_connect') }}" class="auth-button">
                <span class="fa haphpy-icon-twitter" style="background-color:#55acee;"></span>
            </a>
            <a href="{{ path('facebook_connect') }}" class="auth-button">
                <span class="fa haphpy-icon-facebook" style="background-color:#3b5998;"></span>
            </a>
        {% endif %}
    </div>
</div>

<div class="col-sm-12 col-md-4 haphpy-step">
        <h3>
            {% set color = haphpy.color %}
            <span class="haphpy-step-number" style="background-color:{{ color }};">2</span>
            <span style="color:{{ color }};">{{ 'step.file.title'|trans }}</span>
        </h3>
        {{ form_errors(form.file) }}
        {{ form_widget(form.file, {disabled: user ? false : true}) }}
</div>

<div class="col-sm-12 col-md-4 haphpy-step">

        <h3>
            {% set color = haphpy.color %}
            <span class="haphpy-step-number" style="background-color:{{ color }};">3</span>
            <span style="color:{{ color }};">{{ 'step.submit.title'|trans }}</span>
        </h3>
        <div class="form-group">
            {{ form_label(form.creditWanted, 'form.credit_wanted.choose') }}
            {{ form_errors(form.creditWanted, {attr: {class: 'error-list'}}) }}
            {{ form_widget(form.creditWanted, {disabled: user ? false : true}) }}
        </div>

        <div class="text-center">
            <input type="submit" name="submit" value="{{ 'form.submit.label'|trans }}" class="btn btn-primary" {{ user ? '' : ' disabled' }}/>
        </div>
</div>

