<html>
    <head>
        <title>{{ 'head.title'|trans }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/elaostrap.css" />
        <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/haphpy.css" />
    </head>
    <body>
        <div id="mobile-nav">
            <div class="mobile-nav-title">{{ 'menu.mobile.navigation'|trans }}</div>
            <nav>
            </nav>
        </div>
        <div class="navbar fixed">
            <div class="navbar-inner">
                <nav id="login-state" class="pull-left">
                    {% if user %}
                        <span class="fa haphpy-icon-{{ user.authProvider }}"></span>{{ user.username }}{{ ''}}
                    {% endif %}
                </nav>
                <nav id="main-nav" class="pull-right">
                    <ul>
                        <li><a href="{{ path('haphpy_index') }}">{{ 'menu.index.label'|trans }}</a></li>
                        <li><a href="{{ path('haphpy_contributions') }}">{{ 'menu.contributions.label'|trans }}</a></li>
                        <li><a href="{{ path('haphpy_about') }}">{{ 'menu.about.label'|trans }}</a></li>
                    </ul>
                </nav>
                <a href="#" class="mobile-nav-toggle">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </a>
            </div>
        </div>
        <header id="header">
            <div>
                <img src="/assets/images/haphpy-birthday.svg" id="haphpy-logo">
            </div>
        </header>

        {% block content %}

        {% endblock %}

        <script src="/assets/js/main.js"></script>
    </body>
</html>
