<html>
    <head>
        <title>{{ 'head.title'|trans }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/elaostrap.css" />
        <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/haphpy.css" />
    </head>
    <body class="has-header">
        <div id="mobile-nav">
            <div class="mobile-nav-title">{{ 'menu.mobile.navigation'|trans }}</div>
            <nav>
            </nav>
        </div>
        <div class="navbar fixed">
            <div class="navbar-inner">
                <nav id="login-state" class="pull-left">
                    {% if user %}
                        <span class="fa haphpy-icon-{{ user.authProvider }}"></span>{{ user.username }}{{ ''}}
                    {% endif %}
                </nav>
                <nav id="main-nav" class="pull-right">
                    <ul>
                        <li><a href="{{ path('haphpy_index') }}">{{ 'menu.index.label'|trans }}</a></li>
                        <li><a href="{{ path('haphpy_contributions') }}">{{ 'menu.contributions.label'|trans }}</a></li>
                        <li><a href="{{ path('haphpy_about') }}">{{ 'menu.about.label'|trans }}</a></li>
                    </ul>
                </nav>
                <a href="#" class="mobile-nav-toggle">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </a>
            </div>
        </div>
        <header id="header">
            <div>
                <img src="/assets/images/haphpy-birthday.svg" id="haphpy-logo">
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div id="gauge-contributors" class="col-sm-12 col-lg-6">
                    <span>{{ gauge.amount }}</span> {{ 'gauge.contributions'|trans }}
                </div>
                <div id="gauge-remaining-days" class="col-sm-12 col-lg-6">
                    {% set days = (limit_date|date('U') - 'now'|date('U'))|date('z')  %}
                    <span>{{ days }} </span>{{ 'gauge.remaining_days'|trans }}
                </div>
            </div>
            <div id="gauge">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active"
                        data-placement="right"
                        data-toggle="tooltip"
                        title=""
                        style="width:{{ gauge.percent }}%;"
                        data-original-title="{{ gauge.amount }} contributions"
                    >
                    </div>
                </div>
                <div class="gauge-steps">
                {% for step in gauge.steps %}
                    {% set step_percent = ((step.value / gauge.getStepsMaxValue) * 100)|round %}
                    <div class="gauge-step" style="left:{{ step_percent }}%;">
                        <span class="gauge-step-dot">&nbsp;</span>
                        <span class="gauge-step-name">{{ ('gauge.step.' ~ step.name)|trans }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}

        <script src="/assets/js/main.js"></script>
    </body>
</html>
